<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equip="X-UA-Compatible" content="ie=edge"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <title> {% block title %} {% endblock %}</title>
    </head>
    <body>
        <ul class="nav navbar bg-light">
            {% if session.user_id %}
              <li class="nav-item">
                <a class="nav-link active" href="/home">Notas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/salir">Cerrar sesion</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              {% endif %}
        </ul>
        
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}
        
        {% block content %}

        {% endblock %}
            
        </main>
    </body>
    
</html>